@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.app {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: black;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app__content {
  animation: fadeIn 0.5s;
  height: 80vh;
  display: grid;
  place-items: center;
}

.app__content img {
  width: 80%;
  object-fit: contain;
}

.app__buttons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 1rem;
  width: 90%;
}

.app__buttons button {
  padding: 20px;
  font-size: large;
  font-weight: 500;
  text-transform: uppercase;
  background-color: white;
  color: #333333;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
}

.app__buttons button:hover {
  background-color: transparent;
  color: white;
  border-radius: 0;
}

.app__postname,
.app__username {
  position: absolute;
  color: white;
  font-weight: 500;
}

.app__postname {
  top: 8px;
  left: 20px;
}

.app__username {
  top: 8px;
  right: 20px;
}

.app__snackbar {
  position: absolute;
  bottom: 20px;
  background-color: #4caf50;
  padding: 10px;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  /* animation: fadeOut 5s forwards; */
}

.app__snackbar::before {
  content: "✔ ";
}
